* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #222;
    color: rgba(255, 255, 255, 0.835);
}

table {
    border: 1px 1px 1px rgba(0, 0, 0, 0.308);
    border-collapse: collapse;
    font-size: 1.5em;
    overflow: auto;
    max-height: 10px;
    height: 10px;
    width: 800px;
}

.orderTable tr {
    background-color:#25252d;
}

td, th {
    font-weight: 200;
    padding: 15px 55px;
}

th {
    padding: 15px;
}

td {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.308);
}

tr{
    background-color: #25252d;
}

tr:nth-child(2n) {
    background-color: #222;
}

thead {
    background-color: rgba(52, 53, 132, 0.163);
    box-shadow: 0 3px 6px #00000030;
}

.tradeWrapper {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 6px #00000030;
}

#quantity, #price, #stocks {
    padding: 5px;
    background-color: #1bff7600;
    font-size: 1.2em;
    border: 0;
    border-bottom: 1px rgba(255, 255, 255, 0.835) solid;
    color: rgba(255, 255, 255, 0.835);
    margin-right: 15px;
}

#stocks select{
    display: none;
}

.orderIssueForm {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.308);
    background-color: #25252d;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4s08);
}

.orderIssueFormHeadline{
    padding-top: 15px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.orderIssueForm_form {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
}

.radiocontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.currentStockName{
    color: #4dfff4;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.stockswitchwrapper{
    display: flex;
    justify-content: space-between;
}

.labelContainer{
    display: flex;
    justify-content: space-between;
}

.labelContainer div{
    margin-left: 40px;
    margin-right: 40px;
}

.lowerFormContainer{
    margin-top: 30px; 
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.lowerFormContainer div{

}


.radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radioButtons{
    display: flex;
    justify-content: space-between;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(238, 238, 238, 0);
    border-radius: 50%;
    border: 2px rgba(255, 255, 255, 0.835) solid;
}

/* On mouse-over, add a grey background color */
.radiocontainer:hover input ~ .checkmark {
    background-color: rgba(204, 204, 204, 0.104);
}

/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .checkmark {
    background-color: rgba(255, 255, 255, 0);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .checkmark:after {
    display: block;
}

.radiocontainer{
    padding-right: 20px;
}

.radiocontainer .checkmark:after {
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #1bff76;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    align-self: flex-end;
}

#orderButton {
    background-color: rgba(34, 34, 34, 0);
    color: #1bff76;
    border: 2px #1bff76 solid;
    padding: 6px;
    font-size: 1.5em;
    cursor: pointer;
    cursor: pointer;
}

.userOrders{
    margin-top: 30px; 
}

.stockNavigation {
    background-color: #0db8de00;
    color: #1bff76;
    font-size: 32px; 
    justify-content: center; 
    cursor: pointer;
    width: 40px;
    height: 40px; 
    border: 2px solid #1bff76;
}

.stockInput{
    padding-right: 100px;
}

.activeOrderNavigation {
    display: flex;
}

._quantity, ._price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}