<div class="registerfield">
    <div id="register">
        <div id="options">
            <a href="" class=""><p>Login</p></a>
            <p>Register</p>
        </div>
        <form action="" method="POST" id="registerform">
            <div id="form">
                <div class="field">
                    <label for="">Username</label>
                    <input type="text" name="Username" id="">
                </div>
                <div class="field">
                    <label for="">Password</label>
                    <input type="text" name="Password" id="">
                </div>
            </div>
            <button type="submit" id="submit">Register</button>
        </form>
        <!--<button id="guest">Enter as a guest</button> -->
    </div>
</div>

@code {

}
